# PROD-requirements

aiohttp==3.3.2
urllib3==1.23
SQLAlchemy==1.2.10
asyncpgsa==0.23.0
alembic==1.0.0
raven==6.9.0
uvloop==0.11.1
aiohttp_swagger==1.0.5
marshmallow==2.15.3
aiocache==0.10.0
ujson==1.35
aiohttp-jinja2==1.0.0

psycopg2==2.7.5